body {
    background-color:#655c54;
    font-family: 'Ubuntu Mono', monospace;
}

#headerContainer {
    text-align: center;
}

#headerContainer #title {
    font-size:xx-large;
    color:#fbf1c7;
}

#headerContainer nav {
    font-size:large;
    color:#a89984;
}

#headerContainer a {
    text-decoration:none;
}

#headerContainer a:link {
    color:#B8BB26;
}

#headerContainer a:visited {
    color:#B8BB26;
}

#headerContainer a:hover {
    color:#98971A;
}

#currentPageLink {
    color:#98971A;
}